



/* ••••••••••••••••••• */
/* = = = = = = = = = = */
/* ••••••••••••••••••• */


/* ------ GENERAL ------ */

html {font-size: 14px; min-height: 100%;}

a:focus, button:focus {
    outline: none !important;
    border: none !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: transparent;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.001) inset, 0 0 1px rgba(255, 255, 255, 0.1);
    outline: 0 none;
}

body {
    position: relative;
    min-height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    background: #000000;

}

.main {
    width: 100%;
    overflow-x: hidden;
}

.navbar-default .navbar-toggle {
    margin-top: 22px;
    border: none;
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: transparent;
}

.navbar-default .navbar-toggle .icon-bar, .navbar-default .navbar-toggle .icon-bar {
    background-color: #f7f7f7;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #c82647;
}




/* ================================== */
/* ------ MAIN NAVIGATION BAR ------ */
/* ================================== */

.navbar-default.hlxweb_main_navbar {
    position: absolute;
    top: 22px;
    z-index: 10;
    height: 90px;
    background: rgba(0,0,0,0);
    border: none;
    border-radius: 0;
    width: 100%;
}

.navbar-header.hlxweb_navbar_header {
    padding-top: 5px;
}

.navbar-nav.hlxweb_nav {
    padding-top: 22px;
    float: right;
}

.navbar-nav.hlxweb_nav li a {
    font-weight: 400;
    color: #f7f7f7;
    font-size: 1rem;
    text-transform: uppercase;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.navbar-nav.hlxweb_nav li a:hover, .navbar-nav.hlxweb_nav li a:focus, .navbar-nav.hlxweb_nav li a:active {
    color: #c82647 !important;
}

.navbar-nav.hlxweb_nav li a.active {
    color: #c82647;
    cursor: default;
    pointer-events: none;
}

/*.navbar-nav.hlxweb_nav li:nth-child(4){*/
    /*padding-right: 18px;*/
/*}*/

img.logo_4_header {
    width: 80%;
}

a.contact_homepage_button {
    font-weight: 100;
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 2px;
    background: rgba(255,255,255,0.1);
    padding: 6px 24px 6px 24px !important;
    position: relative;
    top: 8px;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

a.contact_homepage_button:hover, a.contact_homepage_button:focus {
    background: #ffffff !important;
    color: #666666 !important;
    border: 1px solid #ffffff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
    background: transparent;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-nav>li>.dropdown-menu>li>a:hover {
    background: transparent;
}





/* ================================== */
/* -------- MAIN HEADER AREA -------- */
/* ================================== */

.wharton_main_header_area {
    position: relative;
    width: 100%;
    height: 775px !important;
    overflow: hidden;
    background: url(../img/main_bgd.jpg) no-repeat;
    background-size: cover;
}

.go_down_chevron_holder {
    display: block;
    width: 78%;
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
    text-align: center;
}

a.go_down {
    display: inline-block;
    height: 26px;
    width: 26px;
    text-align: center;
    background: url('../img/down-arrow.png') center center no-repeat;
    background-size: contain;
}

.tesuka {
    position: relative;
    width: 100%;
    height: 775px !important;
    overflow: hidden;
    background: darkcyan;
}

.vertical_socialz_holder {
    position: absolute;
    left: 2%;
    top: 40%
}

ul.vertical_socialz li {
    list-style-type: none;
    margin-top: 20px;
}

ul.vertical_socialz li a {
    display: block;
    height: 26px;
    width: 26px;
    background: #ffffff;
    color: #c82647;
    text-align: center;
    font-size: 1.1rem;
    padding-top: 3px;
    border-radius: 100%;

    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

ul.vertical_socialz li a:hover, ul.vertical_socialz li a:focus {
    background: #c82647;
    color: #ffffff;
}





/* ================================== */
/* ---------- ABOUT AREA ---------- */
/* ================================== */

.about_area {
    background: #000000;
    min-height: 710px;
    padding-top: 85px;
    padding-bottom: 55px;
}

.about_content h2 {
    font-family: "Proxima Nova", sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}

span.wavvyy {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 18px;
    background: url(../img/wavy_deco.png) center center no-repeat;
    background-size: contain;
    margin-bottom: 40px;
}

.about_content p {
    font-family: "Proxima Nova", sans-serif;
    font-size: 1.174rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

a.seemore_btn {
    position: relative;
    top: 35px;
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 246px;
    height: 46px;
    padding-top: 12px;
    border-radius: 5px;
    background: #c82647;
    color: #ffffff;

    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

a.seemore_btn:hover, a.seemore_btn:focus {
    background: #ffffff;
    color: #c82647;
}

.oldskool_photo_holder {
    padding-top: 75px;
    padding-right: 26px;
}

.oldskool_photo {
    display: block;
    width: 495px;
    height: 354px;
    border-radius: 5px;
    background: url(../img/oldskool.jpg) center center no-repeat;
    background-size: cover;
}





/* ================================== */
/* ---------- PARALLAX ONE ---------- */
/* ================================== */


.artificial_parallax_one {
    height: 250px;
    background: url("../img/temprary.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* ================================== */
/* ---------- TEAM AREA ---------- */
/* ================================== */

.team_area {
    min-height: 770px;
    padding-top: 85px;
    padding-bottom: 55px;
    background: url('../img/blackforest_bgd.jpg') center center no-repeat;
    background-size: cover;
}

h2.team_area_ttl {
    font-family: "Proxima Nova", sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.team_memba_boxx {
    padding-top: 40px;
    text-align: center;
    display: inline-block;
}

.team_memba_pic {
    display: inline-block;
    text-align: center;
    height: 170px;
    width: 170px;
    border-radius: 100%;
    margin-bottom: 2px;
}

h4.team_memba_name {
    font-family: "Proxima Nova", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
}

hr.team_memba_red_separator {
    background-color: #c82647;
    width: 75%;
    height: 1px;
    border: none;
}

.three_option_box {
    display: block;
    text-align: left;
    padding-left: 38px;
    min-height: 200px;
    height: auto;
}

.favoption_circle {
    float: left;
    height: 40px;
    width: 40px;
    background: #ffffff;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 9px;
    color: #c82647;
}

.option {
    display: inline-block;
}

span.beer {
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    background: url('../img/beer.png') center center no-repeat;
    background-size: contain;
}

span.bar {
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    background: url('../img/beer-tap.png') center center no-repeat;
    background-size: contain;
}

span.band {
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    background: url('../img/music-player.png') center center no-repeat;
    background-size: contain;
}

.favoption_text {
    float: left;
    padding-left: 16px;
}

.favoption_text h5 {
    font-family: "Open Sans Condensed", sans-serif;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
    color: #c82647;
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 2px;
}

.favoption_text p {
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
}

.all_folks_button_holder {
    padding-top: 24px;
    clear: both;
}

.all_folks_button_holder_hidden {
    padding-top: 24px;
    clear: both;
}

a.seemore_btn_2 {
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 246px;
    height: 46px;
    padding-top: 12px;
    border-radius: 5px;
    background: #c82647;
    color: #ffffff;

    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

a.seemore_btn_2:hover, a.seemore_btn_2:focus {
    background: #ffffff;
    color: #c82647;
}

.panel {
    background: transparent;
}

.panel-default {
    border: none !important;
}

.panel-body {
    padding: 0;
}





/* ================================== */
/* ---------- PARALLAX TWO ---------- */
/* ================================== */


.artificial_parallax_two {
    height: 300px;
    background: url("../img/metalbarrels_2.JPG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}






/* ================================== */
/* ---------- OUR BRANDS ---------- */
/* ================================== */

.brandz_area {
    min-height: 710px;
    padding-top: 85px;
    padding-bottom: 55px;
    background: url('../img/brandz_bgd.jpg') center center no-repeat;
    background-size: cover;
}

h2.brandz_area_ttl {
    font-family: "Proxima Nova", sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 75px;
    text-transform: uppercase;
}

.brandboxx {
    display: inline-block;
    text-align: center;
    margin-bottom: 46px;
}

a.brandlinx span {
    display: block;
    height: 100px;
    width: 100px;
    text-align: center;
}


.all_brandz_button_holder {
    padding-top: 24px;
    clear: both;
}

.all_brandz_button_holder_hidden {
    padding-top: 24px;
    clear: both;
}





/* ================================== */
/* -------- PARALLAX THREE -------- */
/* ================================== */


.artificial_parallax_three {
    height: 410px;
    background: url("../img/oldtimez.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}






/* ================================== */
/* ------------- FOOTER ------------- */
/* ================================== */

footer.wharton_footer {
    min-height: 210px;
    height: auto;
    background: url('../img/blackforest_bgd.jpg') center center no-repeat;
    background-size: cover;
    padding-top: 30px;
}

span.logo_footer_1 {
    display: block;
    float: left;
    width: 100px;
    height: 90px;
}

span.logo_footer_2 {
    display: block;
    float: left;
    width: 210px;
    height: 90px;
}

hr.footer_red_separator {
    display: inline-block;
    background-color: #c82647;
    width: 80%;
    height: 1px;
    border: none;
    clear: both;
    margin-bottom: 4px;
}

small.footer_microtext {
    display: block;
    clear: both;
    font-size: 0.888rem;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
}

ul.footer_linxx {
    padding-left: 20px;
}

ul.footer_linxx li {
    list-style-type: none;
    text-align: left;
}

ul.footer_linxx li a {
    font-size: 1rem;
    font-weight: 400;
    color: #f7f7f7;
    margin-bottom: 10px;
    line-height: 2.2;
    text-decoration: none;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.footer_linxx li a:hover, ul.footer_linxx li a:focus {
    color: #c82647;
}

.footer_social_holder {
    position: relative;
    left: 2%;
}

ul.footer_socialz li {
    list-style-type: none;
    margin-top: 10px;
}

ul.footer_socialz li a {
    display: block;
    height: 26px;
    width: 26px;
    background: #ffffff;
    color: #c82647;
    text-align: center;
    font-size: 1.1rem;
    padding-top: 3px;
    border-radius: 100%;

    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

ul.footer_socialz li a:hover, ul.footer_socialz li a:focus {
    background: #c82647;
    color: #ffffff;
}





/* ================================== */
/* --------- AGE VALIDATOR --------- */
/* ================================== */

.age_validator {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 888;
    background-color: rgba(0,0,0,0.799);
}

.validator_window {
    display: block;
    border-radius: 5px;
    width: 70%;
    height: 650px;
    margin: 0 auto;
    position: relative;
    top: 1%;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/red_forest_bgd.jpg') center center no-repeat;
    background-size: cover;
}

.age_validator_logo_holder img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 13%;
    padding-top: 18px;
}

.val_txt_holder {
    padding-top: 8%;
}

h1.validator_question {
    font-family: "Open Sans Condensed", sans-serif;
    text-align: center;
    font-size: 5.2rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

h4.rejection_message {
    font-family: "Open Sans Condensed", sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-top: 75px;
}

.yesno_buttonz {
    width: 100%;
    display: inline-block;
    text-align: center;
}

button.yes_btn {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-family: "Proxima Nova", sans-serif;
    width: 25%;
    background: #ffffff;
    font-size: 2.6rem;
    font-weight: 900;
    color: #c82647;
    height: 60px;
    margin-right: 24px;
    letter-spacing: 2px;

    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

button.yes_btn:hover, button.yes_btn:focus {
    background: #f8f8f8;
    color: #f92f58;
}


button.no_btn {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-family: "Proxima Nova", sans-serif;
    width: 25%;
    background: #252525;
    font-size: 2.6rem;
    font-weight: 900;
    color: #c82647;
    height: 60px;
    letter-spacing: 2px;

    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

button.no_btn:hover, button.no_btn:focus {
    background: #cccccc;
    color: #262626;
}

.validator_socialz_holder {
    position: absolute;
    bottom: 2px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

ul.validator_socialz {
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 7px;
}


ul.validator_socialz li {
    list-style-type: none;
    float: left;
    margin-right: 14px;
}

ul.validator_socialz li a {
    display: block;
    height: 26px;
    width: 26px;
    background: #ffffff;
    color: #c82647;
    text-align: center;
    font-size: 1.1rem;
    padding-top: 3px;
    border-radius: 100%;

    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

ul.validator_socialz li a:hover, ul.validator_socialz li a:focus {
    background: #262626;
    color: #ffffff;
}


